.avatar-index{
	width:80px;
	height: 80px;
	border: 2px solid #cccccc;
	border-radius:5px;
}
.avatar-edit{
	width:150px;
	height: 150px;
	border: 2px solid #cccccc;
	border-radius:5px;
}
.description{
	width: 100%;
	height:100px;
}
.detail{
	width: 100%;
	height:100px;
}